/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
#!app/cache/.gitkeep
#!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/composer.phar
/composer.lock
/www/cache/*
/www/spa/dist/
/www/spa/node_modules/

