{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .rules {
            max-width: 500px;
            margin: 0 auto;
        }

        .rules tr td:first-child {
            min-width: 30px;
        }

        .bold {
            font-weight: bold
        }
    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center">
            <h1 class="bold">СмартСмайл</h1>

            <h2 class="bold">помогает победить стресс</h2>

            <h5>(ознакомительная программа)</h5>

            <h4>Если Вы ищете для себя или своих близких</h4>
            <h4>эффективное средство на натуральной основе</h4>
            <h4>с целью повышения стрессоустойчивости,
                снижения тревожности, снятия состояния угнетенности,
                устранения последствий стресса
            </h4>

            <h3 class="bold">Вы можете воспользоваться представленным здесь предложением</h3>

            <table class="rules">
                <tbody>
                <tr>
                    <td><h4 style="font-size:40pt">1</h4></td>
                    <td><h4>Ознакомиться с текстом Инструкции для добавки диетической «СмартСмайл»</h4>
                    </td>
                </tr>
                <tr>
                    <td><h4 style="font-size:40pt">2</h4></td>
                    <td><h4>Ознакомиться с&nbsp;
                            <a href="#rules"
                               style="color:black;text-decoration:underline">Правилами ознакомительной
                                Программы</a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td><h4 style="font-size:40pt">3</h4></td>
                    <td><h4>Оформить электронную заявку на получение
                            ознакомительного образца</h4>
                    </td>
                </tr>
                <tr>
                    <td><h4 style="font-size:40pt">4</h4></td>
                    <td><h4>Получить подтверждение регистрации</h4>
                    </td>
                </tr>
                <tr>
                    <td><h4 style="font-size:40pt">5</h4></td>
                    <td><h4>Получить 1 ознакомительный образец добавки диетической
                            «СмартСмайл 20 капсул по 100 мг»</h4>
                    </td>
                </tr>
                </tbody>
            </table>


            <img src="{{ asset('assets/img/A7@488.jpg') }}" class="img-responsive" alt="SmartSmile упаковка"
                 style="margin: 0 auto;max-height: 300px;">

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h3 class="bold" id="rules">Правила ознакомительной Программы</h3>

            <small>

                <p>Координатор Программы: ООО «ОМНИФАРМА КИЕВ» (Киев, пр. Бажана, 10А, 2
                    этаж).
                </p>

                <ul>
                    <li>Период Программы: с 5 декабря 2016 года до 20 января 2017 года.
                    </li>
                    <li>К участию в Программе приглашаются дееспособные жители Киева и Киевской
                        области в возрасте старше 18 лет (далее – Участники).
                    </li>
                    <li>Среди Участников распространяются ознакомительные образцы добавки
                        диетической «СмартСмайл 20 капсул по 100 мг».
                    </li>
                    <li>Личное использование полученного ознакомительного образца лицами младше 18
                        лет запрещено.
                    </li>
                    <li>Перед применением ознакомительного образца обязательно ознакомиться с
                        инструкцией
                    </li>
                    <li>Количество ознакомительных упаковок ограничено.
                    </li>
                    <li>Координатор Программы оставляет на собой право досрочного завершения
                        Программы с уведомлением на сайте <a href="www.smartsmile.com.ua">www.smartsmile.com.ua</a>
                    </li>
                    <li>Координатор Программы имеет право отказать в получении ознакомительного
                        образца без детальных объяснений.
                    </li>
                    <li>Дата и место получения ознакомительного образца сообщается Участнику
                        Программы через электронную почту.
                    </li>
                </ul>

                <p><strong>Внимание!
                        В случае, если ознакомительный образец будет Вам полезен, мы готовы
                        предоставить Вам ещё 1 (одну) полную ознакомительную упаковку «СмартСмайл
                        20 капсул по 100 мг». Условие для ее получения – отправка Вами краткого отзыва
                        на электронную почту&nbsp;<a style="color:black;text-decoration:underline"
                                                     href="mailto:omnifarma-kiev@mail.ua">omnifarma-kiev@mail.ua</a>.</strong>
                </p>


            </small>


        </div>
    </div>
{% endblock %}
